@media (max-width: 500px) {
    .card {
        width: 74px;
        height: 66px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #80BCBD;
        font-size: 40px;
        padding-top: 6px;
        border: 4px solid #80BCBD;
        border-radius: 8%;
        cursor: pointer;
        font-family: 'Josefin Sans', cursive;
    }
}