@media (max-width: 500px) {
    .Street {
        color: #80BCBD;
        font-weight: 700;
        font-family: 'Josefin Sans', sans-serif;
        margin-right: 15px;
        margin-left: 15px;
        width: 100%;
    }
}
